<a href="https://colab.research.google.com/github/iamonk/Algorithmic_Trading/blob/main/Equal_weight_S%26P_500/Equal_weight_S%26P_500.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Equal-Weight S&P 500 Index Fund

## Introduction & Library Imports

The S&P 500 is the world's most popular stock market index. The largest fund that is benchmarked to this index is the SPDR® S&P 500® ETF Trust. It has more than US$250 billion of assets under management.

The goal of this section of the course is to create a Python script that will accept the value of your portfolio and tell you how many shares of each S&P 500 constituent you should purchase to get an equal-weight version of the index fund.

## Library Imports

The first thing we need to do is import the open-source software libraries that we'll be using in this tutorial.

In [3]:
import numpy as np
import pandas as pd
import math
import requests

First we will install XlsxWriter

In [3]:
!pip install XlsxWriter

Collecting XlsxWriter
  Downloading https://files.pythonhosted.org/packages/6b/41/bf1aae04932d1eaffee1fc5f8b38ca47bbbf07d765129539bc4bcce1ce0c/XlsxWriter-1.3.7-py2.py3-none-any.whl (144kB)
     |████████████████████████████████| 153kB 5.3MB/s
Installing collected packages: XlsxWriter
Successfully installed XlsxWriter-1.3.7

In [4]:
import xlsxwriter

## Importing Our List of Stocks

The next thing we need to do is import the constituents of the S&P 500.

These constituents change over time, so in an ideal world you would connect directly to the index provider (Standard & Poor's) and pull their real-time constituents on a regular basis.

Paying for access to the index provider's API is outside of the scope of this course. 

There's a static version of the S&P 500 constituents available here. [Click this link to download them now](https://drive.google.com/file/d/1ZJSpbY69DVckVZlO9cC6KkgfSufybcHN/view?usp=sharing). Move this file into the `starter-files` folder so it can be accessed by other files in that directory.

Now it's time to import these stocks to our Jupyter Notebook file.

In [6]:
from google.colab import files
upload=files.upload()

Saving sp_500_stocks.csv to sp_500_stocks.csv

In [11]:
stocks=pd.read_csv("sp_500_stocks.csv")

In [10]:
stocks.info

<bound method DataFrame.info of     Ticker
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]>

Process of importing and reading Csv files from googledrive.

## Acquiring an API Token

Now it's time to import our IEX Cloud API token. This is the data provider that we will be using throughout this course.

API tokens (and other sensitive information) should be stored in a `secrets.py` file that doesn't get pushed to your local Git repository. We'll be using a sandbox API token in this course, which means that the data we'll use is randomly-generated and (more importantly) has no cost associated with it.

[Click here](http://nickmccullum.com/algorithmic-trading-python/secrets.py) to download your `secrets.py` file. Move the file into the same directory as this Jupyter Notebook before proceeding.

Upload Files

In [12]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [17]:
!cp gdrive/MyDrive/secrets.py secrets.py

In [1]:
from secrets import IEX_CLOUD_API_TOKEN

In [18]:
!ls

gdrive	sample_data  secrets.py  sp_500_stocks.csv

## Making Our First API Call

Now it's time to structure our API calls to IEX cloud. 

We need the following information from the API:

* Market capitalization for each stock
* Price of each stock

Every Api is different, check that api documentattion and there sites to know about there api GET POST PUT AND DELETE.

In [7]:
symbol = 'AAPL'
apl_url=f'https://sandbox.iexapis.com/stable/stock/{symbol}/quote/?token={IEX_CLOUD_API_TOKEN}'
data=requests.get(apl_url).json()
data

{'avgTotalVolume': 101313201,
 'calculationPrice': 'close',
 'change': 0.27,
 'changePercent': 0.00234,
 'close': 125.61,
 'closeSource': 'ioclaiff',
 'closeTime': 1628560285486,
 'companyName': 'Apple Inc',
 'delayedPrice': 125.41,
 'delayedPriceTime': 1675884009469,
 'extendedChange': 0.5,
 'extendedChangePercent': 0.0042,
 'extendedPrice': 127.01,
 'extendedPriceTime': 1658510698802,
 'high': 130.52,
 'highSource': 'eyu5me1 pir telddcnae i',
 'highTime': 1625035392643,
 'iexAskPrice': None,
 'iexAskSize': None,
 'iexBidPrice': None,
 'iexBidSize': None,
 'iexClose': 123.36,
 'iexCloseTime': 1651907617403,
 'iexLastUpdated': None,
 'iexMarketPercent': None,
 'iexOpen': 123.35,
 'iexOpenTime': 1663288409894,
 'iexRealtimePrice': None,
 'iexRealtimeSize': None,
 'iexVolume': None,
 'isUSMarketOpen': False,
 'lastTradeTime': 1614846338415,
 'latestPrice': 123.69,
 'latestSource': 'Close',
 'latestTime': 'February 26, 2021',
 'latestUpdate': 1650764645273,
 'latestVolume': 170093242,
 'low': 123.28,
 'lowSource': '5l1mue dynp eeiirt edca',
 'lowTime': 1618645739815,
 'marketCap': 2122894840536,
 'oddLotDelayedPrice': 122.04,
 'oddLotDelayedPriceTime': 1681276865871,
 'open': 123.64,
 'openSource': 'ciaffloi',
 'openTime': 1651974370253,
 'peRatio': 34.34,
 'previousClose': 125.06,
 'previousVolume': 152747890,
 'primaryExchange': 'CLMBES L)Q SL/EANGSG(E TTRADKONAA',
 'symbol': 'AAPL',
 'volume': 168261155,
 'week52High': 145.42,
 'week52Low': 54.05,
 'ytdChange': -0.08309097655222435}

## How TO USE Fstring(This is me)

In [ ]:
adj="Superb"
adj2="cool"
adj3="Strong"
string=f"Anurag is {adj},{adj2} and {adj3}"
string

## Parsing Our API Call

The API call that we executed in the last code block contains all of the information required to build our equal-weight S&P 500 strategy. 

With that said, the data isn't in a proper format yet. We need to parse it first.

In [8]:
price=data['latestPrice']
market_cap=data['marketCap']/1000000000000
price

123.69

## Adding Our Stocks Data to a Pandas DataFrame

The next thing we need to do is add our stock's price and market capitalization to a pandas DataFrame. Think of a DataFrame like the Python version of a spreadsheet. It stores tabular data.

In [5]:
my_columns=['Ticker','Stock Price','Market Capitalization','Number of Shares to Buy']
final_dataframe=pd.DataFrame(columns=my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Number of Shares to Buy]
Index: []

In [9]:
final_dataframe.append(
    pd.Series(
        [symbol,
         price,
         market_cap,
         'N/A'],index=my_columns
    ),ignore_index=True)

  Ticker  Stock Price  Market Capitalization Number of Shares to Buy
0   AAPL       123.69               2.122895                     N/A

## Looping Through The Tickers in Our List of Stocks

Using the same logic that we outlined above, we can pull data for all S&P 500 stocks and store their data in the DataFrame using a `for` loop.

In [12]:
final_dataframe=pd.DataFrame(columns=my_columns)
for stock in stocks['Ticker']:
    apl_url=f'https://sandbox.iexapis.com/stable/stock/{stock}/quote/?token={IEX_CLOUD_API_TOKEN}'
    data=requests.get(apl_url).json()
    final_dataframe=final_dataframe.append(
        pd.Series(
            [
             stock,
             data['latestPrice'],
             data['marketCap'],
             'N/A' 
            ],index=my_columns
        ),ignore_index=True
    )

In [13]:
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       122.73           38896004741                     N/A
1      AAL        21.46           13556203093                     N/A
2      AAP       163.03           10767650951                     N/A
3     AAPL       122.42         2090655463389                     N/A
4     ABBV       111.84          191733096566                     N/A
..     ...          ...                   ...                     ...
500    YUM       105.62           31533283734                     N/A
501    ZBH       164.94           35041604041                     N/A
502   ZBRA       501.90           27662940391                     N/A
503   ZION        53.74            8811805904                     N/A
504    ZTS       161.75           77331972850                     N/A

[505 rows x 4 columns]

## Using Batch API Calls to Improve Performance

Batch API calls are one of the easiest ways to improve the performance of your code.

This is because HTTP requests are typically one of the slowest components of a script.

Also, API providers will often give you discounted rates for using batch API calls since they are easier for the API provider to respond to.

IEX Cloud limits their batch API calls to 100 tickers per request. Still, this reduces the number of API calls we'll make in this section from 500 to 5 - huge improvement! In this section, we'll split our list of stocks into groups of 100 and then make a batch API call for each group.

In [22]:
def chunks(lst, n):
    """Yield successive n-sized chunks from list."""
    for i in range(0,len(lst),n):
        yield lst[i:i+n]

In [23]:
symbol_groups=list(chunks(stocks['Ticker'],100))

In [30]:
symbol_groups[1]

100     CME
101     CMG
102     CMI
103     CMS
104     CNC
       ...
195    FTNT
196     FTV
197      GD
198      GE
199    GILD
Name: Ticker, Length: 100, dtype: object

In [31]:
symbol_strings=[]
for i in range(0,len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    #print(symbol_strings[i])
final_dataframe=pd.DataFrame(columns=my_columns)


for symbol_string in symbol_strings:
    batch_api_call_url=f'https://sandbox.iexapis.com/stable/stock/market/batch?symbols={symbol_string}&types=quote&token={IEX_CLOUD_API_TOKEN}'
    data=requests.get(batch_api_call_url).json()
    for symbol in symbol_string.split(','):
        final_dataframe=final_dataframe.append(
            pd.Series([
                       symbol,
                       data[symbol]['quote']['latestPrice'],
                       data[symbol]['quote']['marketCap'],
                       'N/A'
            ],index=my_columns),ignore_index=True
        )
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       126.44           37543764571                     N/A
1      AAL        21.64           13915417350                     N/A
2      AAP       161.54           10897498645                     N/A
3     AAPL       126.93         2129668188771                     N/A
4     ABBV       109.38          196097475836                     N/A
..     ...          ...                   ...                     ...
500    YUM       106.16           32565301098                     N/A
501    ZBH       164.45           35177920323                     N/A
502   ZBRA       506.74           27135343984                     N/A
503   ZION        55.12            9006011827                     N/A
504    ZTS       159.31           75930232817                     N/A

[505 rows x 4 columns]

## Calculating the Number of Shares to Buy

As you can see in the DataFrame above, we stil haven't calculated the number of shares of each stock to buy.

We'll do that next.

In [38]:
portfolio_size=input('Enter the value of your portfolio:')

try:

    val=float(portfolio_size)
    print(val)
except ValueError:
    print('Thats Not a number \n Please try again')
    portfolio_size=input('Enter the value of your portfolio:') 
    val=float(portfolio_size)

Enter the value of your portfolio:1000000
1000000.0

In [39]:
position_size=val/len(final_dataframe.index)
for i in range(0,len(final_dataframe.index)):
    final_dataframe.loc[i,'Number of Shares to Buy']=math.floor(position_size/final_dataframe.loc[i,'Stock Price'])
final_dataframe

    Ticker  Stock Price Market Capitalization Number of Shares to Buy
0        A       126.44           37543764571                      15
1      AAL        21.64           13915417350                      91
2      AAP       161.54           10897498645                      12
3     AAPL       126.93         2129668188771                      15
4     ABBV       109.38          196097475836                      18
..     ...          ...                   ...                     ...
500    YUM       106.16           32565301098                      18
501    ZBH       164.45           35177920323                      12
502   ZBRA       506.74           27135343984                       3
503   ZION        55.12            9006011827                      35
504    ZTS       159.31           75930232817                      12

[505 rows x 4 columns]

## Formatting Our Excel Output

We will be using the XlsxWriter library for Python to create nicely-formatted Excel files.

XlsxWriter is an excellent package and offers tons of customization. However, the tradeoff for this is that the library can seem very complicated to new users. Accordingly, this section will be fairly long because I want to do a good job of explaining how XlsxWriter works.

### Initializing our XlsxWriter Object

In [41]:
writer=pd.ExcelWriter('recommend trades.xlsx', engine='xlsxwriter')
final_dataframe.to_excel(writer,'Recommended Trades',index=False)

### Creating the Formats We'll Need For Our `.xlsx` File

Formats include colors, fonts, and also symbols like `%` and `$`. We'll need four main formats for our Excel document:
* String format for tickers
* \\$XX.XX format for stock prices
* \\$XX,XXX format for market capitalization
* Integer format for the number of shares to purchase

### Applying the Formats to the Columns of Our `.xlsx` File

We can use the `set_column` method applied to the `writer.sheets['Recommended Trades']` object to apply formats to specific columns of our spreadsheets.

Here's an example:

```python
writer.sheets['Recommended Trades'].set_column('B:B', #This tells the method to apply the format to column B
                     18, #This tells the method to apply a column width of 18 pixels
                     string_template #This applies the format 'string_template' to the column
                    )
```

This code works, but it violates the software principle of "Don't Repeat Yourself". 

Let's simplify this by putting it in 2 loops:

## Saving Our Excel Output

Saving our Excel file is very easy: